.spacer {
    margin-top: 20px;
}

#navbar {
    background-color: #464545;
}

.black {
    background-color: black;
}

.greyish {
    background-color: #464545;
    /*background-color: black;*/
}

#brand1 {
    font-family: 'Orbitron', sans-serif;
    color: lightgrey;
    font-size: 17pt;
}

#brand2 {
    font-family: 'Questrial', sans-serif;
}
